.head2 {
    font-family: "Playwrite AU SA", serif;
    font-size: 36px;
    text-align: center;
    color: #7F055F;    
}

  .about {
    text-align: center;
    font-family: "Lexend Exa", sans-serif;
    
}

.address {
    font-family: "Lexend Exa", sans-serif;
    text-align: center;    
}


  